<main class="edit__perfil__container row ">
    <section class="col col-lg-4 d-flex flex-column gap-2">
       <ng-container *ngIf="!loading">
        <img [src]="info?.infoPic" class="icon__image_edit" />
        <h2 class="text__primary d-flex gap-2 align-items-center m-0 fs-5"><i class="fa-solid fa-user"></i> {{info?.nameInfo}} {{info?.surnameInfo}}</h2>
        <p class="text__secondary  m-0 text-primary">{{info?.positionInfo}}</p>
        <p class="text-warning m-0 d-flex align-items-center "><i class="fa-solid fa-location-dot"></i> {{info?.ubicationInfo}}</p>
        <p class="about__me">{{info?.aboutMe}}</p>
        <h2 class="fs-6">Banner</h2>
        <img [src]="info?.infoBanner" class="banner__img_edit" />
       </ng-container>
       <ng-container *ngIf="loading">
        <div class="d-flex w-full justify-content-center align-items-center">
            <div class="lds-ripple"><div></div><div></div></div>
        </div>
    </ng-container>
    </section>
    <form #editForm="ngForm" class="d-flex flex-column gap-4 col col-lg-8">
       <div class="d-flex flex-column flex-sm-row gap-2">
        <div class="d-flex flex-column gap-1">
            <label class="fs-6 text__secondary">Modificar Nombre</label>
            <input 
                ngModel={{info?.nameInfo}}
                type="text"
                name='nameInfo'
                id='nameInfo' 
                required="true"
                placeholder="Pedro" 
                class="moda__inputs"/>
            <input
                type="hidden"
                ngModel="{{ info?.idInfo }}"
                name="idInfo"
                class="form-control"
                id="idInfo"
            />
        </div>
        <div class="d-flex flex-column gap-1">
            <label class="fs-6 text__secondary">Modificar Apellido </label>
            <input 
                name='surnameInfo'
                id='surnameInfo'
                ngModel={{info?.surnameInfo}}
                type="text" 
                required="true"
                placeholder="Sanchez" class="
                moda__inputs"/>
        </div>
       </div>
        <div class="d-flex flex-column gap-1">
            <label class="fs-6 text__secondary">Modificar Titular </label>
            <input 
                name='positionInfo'
                id='positionInfo'
                ngModel={{info?.positionInfo}}
                type="text" 
                required="true"
                placeholder="Backend Developer" class="
                moda__inputs"/>
        </div>
        <div class="d-flex flex-column gap-1">
            <label class="fs-6 text__secondary">Modificar Ubicacion </label>
            <input 
                name='ubicationInfo'
                id='ubicationInfo'
                ngModel={{info?.ubicationInfo}}
                type="text" 
                required="true"
                placeholder="Argentina Buenos Aires" class="
                moda__inputs"/>
        </div>
        <div class="d-flex flex-column flex-sm-row gap-2">
            <div class="d-flex flex-column gap-1">
                <label class="fs-6 text__secondary">Modificar Banner </label>
                <input 
                    name='infoBanner'
                    id='infoBanner'
                    ngModel={{info?.infoBanner}}
                    type="url" 
                    required="true"
                    placeholder="https://imageupload.com" class=".
                    moda__inputs"/>
            </div>
            <div class="d-flex flex-column gap-1">
                <label class="fs-6 text__secondary">Modificar Foto de perfil </label>
                <input 
                    name='infoPic'
                    id='infoPic'
                    ngModel={{info?.infoPic}}
                    type="url" 
                    required="true"
                    placeholder="https://imageupload.com" class="
                    moda__inputs"/>
            </div>
        </div>
        <div class="d-flex flex-column gap-1">
            <label class="fs-6 text__secondary">Modificar Sobre Mi </label>
            <textarea name='aboutMe' id='aboutMe' ngModel={{info?.aboutMe}} 
            required="true"
            placeholder="Argentina Programa" class="
            moda__text-area "></textarea>
        </div>
        <div class="d-flex justify-content-between ">
            <a routerLink="/" class="btn btn-secondary">Volver atras</a>
            <button class="btn btn-warning" type="submit" (click)="onUpdateInfo(editForm.value)" *ngIf="!loadUpdate" [disabled]="editForm.invalid">Guardar</button>
            <button class="btn btn-warning" type="button" disabled="true" *ngIf="!!loadUpdate">Cargando...</button>
        </div>
        
    </form>
</main>