 <!-- Footer Section -->
 <footer class="footer d-flex flex-column flex-sm-row justify-content-center align-items-center gap-0 gap-md-5">
    <img src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1674860780/APLogo-20-20.png" class="w-25"/>
    <div class="d-flex flex-column justify-content-center align-items-center gap-1">
        <h5 class="fs-6 m-0 ">By Matias Cabrera 2023</h5>
        <ul class="d-flex justify-content-center w-full   gap-3  list-roup m-0 p-0 ">
            <li class="list-group-item fs-6">
                <i class="fa-brands fa-linkedin"></i>
            </li>
            <li class="list-group-item fs-6">
                <i class="fa-brands fa-github"></i>
            </li>
            <li class="list-group-item fs-6">
                <i class="fa-brands fa-twitter"></i>
            </li>
        </ul>
    </div>
  </footer>
