<header class="d-flex justify-content-between align-items-center header px-2 px-md-5 py-2 shadow-sm ">
    <a routerLink="/"><img src="https://desa.argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1674860780/APLogo-20-20.png" class="header__logo"/></a>
    <nav class="d-flex gap-1 align-items-center">
        <ul class="d-flex gap-3  list-roup m-0  ">
            <li class="list-group-item fs-4">
                <i class="fa-brands fa-linkedin fs-6 fs-md-1"></i>
            </li>
            <li class="list-group-item fs-4">
                <i class="fa-brands fa-github fs-6 fs-lg-1"></i>
            </li>
            <li class="list-group-item fs-4">
                <i class="fa-brands fa-twitter fs-6 fs-md-1"></i>
            </li>
        </ul>
        <a routerLink="/login" class="btn fs-5  btn-link text-warning" *ngIf="!isLogged()"><i class="fa-regular fa-user fs-6 fs-md-1"></i></a>
        <button  class="btn fs-5  btn-link text-danger" *ngIf="isLogged()" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i></button>
    </nav>
</header>