<div class="modal fade" id="btn-plus-proyects" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content text-warning  modal__background">
        <div class="modal-header">
            <h1 class="modal-title fs-6 text__primary" id="staticBackdropLabel">Agregar Proyecto</h1>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <form #addForm="ngForm" (ngSubmit)="onAddProyects(addForm)" class="d-flex flex-column gap-4">
                
                <div class="d-flex flex-column gap-1">
                    <label for="titlePro" class="fs9">Agregar Nombre del Proyecto</label>
                    <input type="text" 
                    ngModel
                    required
                    name="titlePro"
                    id="titlePro"
                    placeholder="Nombre del proyecto" class="
                    moda__inputs"/>
                </div>
                <div class="d-flex flex-column gap-1">
                    <label for="descPro" class="fs9">Agregar una Descripcion del Proyecto</label>
                    <input type="text" 
                    ngModel
                    required
                    name="descPro"
                    id="descPro"
                    placeholder="Descripcion del proyecto" class="
                    moda__inputs"/>
                </div>
                <div class="d-flex flex-column gap-1">
                    <label for="linkDemoPro" class="fs9">Link demo del Proyecto</label>
                    <input type="text" 
                    ngModel
                    required
                    name="linkDemoPro"
                    id="linkDemoPro"
                    type="url"
                    placeholder="URL de la demo del proyecto" class="
                    moda__inputs"/>
                </div>
                <div class="d-flex flex-column gap-1">
                    <label for="linkRepoPro" class="fs9">Link del repositorio del Proyecto</label>
                    <input type="text" 
                    ngModel
                    required
                    name="linkRepoPro"
                    id="linkRepoPro"
                    type="url"
                    placeholder="URL del repositorio del proyecto" class="
                    moda__inputs"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="add-form-proyects">Cerrar</button>
                    <button [disabled]="addForm.invalid" *ngIf="!loading" type="submit" class="btn btn-warning">Aceptar</button>
                    <button disabled="true" type="button" class="btn btn-warning" *ngIf="!!loading">Cargando...</button>
                </div>
            </form>
        </div>
        
    </div>
    </div>
</div>