<div class="modal fade" id="btn-edit-skills" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content text-warning  modal__background">
        <div class="modal-header">
            <h1 class="modal-title fs-6 text__primary" id="staticBackdropLabel">Actualizar Skill</h1>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <form #addForm="ngForm" (ngSubmit)="onUpdateSkills(addForm.value)" class="d-flex flex-column gap-4">
                <div class="d-flex flex-column gap-1">
                    <label for="nameSk" class="fs9">Tecnologia</label>
                    <input ngModel={{editSkills?.nameSk}} name="nameSk" id="nameSk" type="text" required placeholder="Javascript" class=".
                    moda__inputs"/>
                    <input
                    type="hidden"
                    ngModel="{{ editSkills?.idSk }}"
                    name="idSk"
                    class="form-control"
                    id="idSk1"
                    placeholder=""
                  />
                </div>
                <div class="d-flex flex-column gap-1">
                    <label for="percent" class="fs9">¿Del 1 al 100 cual capacitado te sientes?</label>
                    <input ngModel={{editSkills?.percent}} name="percent" id="percent" type="number" max="100" min="1" required placeholder="Ingresar nivel del la tecnologia" class=".
                    moda__inputs"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="update-skills-form">Cerrar</button>
                    <button type="submit" class="btn btn-warning">Actualizar</button>
                </div>
            </form>
        </div>
       
    </div>
    </div>
</div>
