<div class="modal fade" id="btn-plus-experience" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content text-warning  modal__background">
        <div class="modal-header">
            <h1 class="modal-title fs-6 text__primary" id="staticBackdropLabel">Agregar Experiencia</h1>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <form #addForm="ngForm" (ngSubmit)="onAddExperience(addForm)" class="d-flex flex-column gap-4">
                <div class="d-flex flex-column gap-1">
                    <label for="picExp" class="fs9 ">Agregar Logo de Empresa</label>
                    <input type="text" 
                    ngModel
                    required
                    name="picExp"
                    id="picExp"
                    placeholder="https://imageupload.com" class="
                    moda__inputs"/>
                </div>
                <div class="d-flex flex-column gap-1">
                    <label for="titleExp" class="fs9">Agregar Nombre de la Empresa</label>
                    <input type="text" 
                    ngModel
                    required
                    name="titleExp"
                    id="titleExp"
                    placeholder="MetaVerso" class="
                    moda__inputs"/>
                </div>
                <div class="d-flex flex-column gap-1">
                    <label for="descExp" class="fs9">Agregar cargo en la empresa</label>
                    <input type="text" 
                    ngModel
                    required
                    name="descExp"
                    id="descExp"
                    placeholder="Frontend developer" class="
                    moda__inputs"/>
                </div>
                <div class="d-flex flex-column gap-1">
                    <label for="startDateExp" class="fs9">Periodo de Inicio</label>
                    <input type="date" 
                    ngModel
                    required
                    name="startDateExp"
                    id="startDateExp"
                    placeholder="dd/mm/aaaa" class="
                    moda__inputs"/>
                </div>
                <div class="d-flex flex-column gap-1">
                    <label for="endDateExp" class="fs9">Periodo Fin</label>
                    <input type="date" 
                    ngModel
                    required
                    name="endDateExp"
                    id="endDateExp"
                    placeholder="dd/mm/aaaa" class="
                    moda__inputs"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="add-form-experience">Cerrar</button>
                    <button [disabled]="addForm.invalid" type="submit" class="btn btn-warning">Aceptar</button>
                </div>
            </form>
        </div>
        
    </div>
    </div>
</div>