
<main class="d-flex flex-column container align-items-center justify-content-center auth">
    <div class="auth__container_form d-flex flex-column gap-3">
        <h2>INICIAR <span class="text-warning">SESSION</span></h2>
        <form class="d-flex flex-column gap-4 ">
            <input type="text" placeholder="@username33"
            class="auth__form_input"/>
            <input type="password" placeholder="**********"
            class="auth__form_input"/>
            <button class="btn btn-warning ">Iniciar Sesion</button>
        </form>
    </div>
</main>
