<div id='main-container'>

</div>
<!-- Banner Section -->
<app-banner></app-banner>
<!-- Experience Section -->
<app-experience></app-experience>
<!-- Education Section -->
<app-education></app-education>
<!-- Skills Section -->
<app-skills></app-skills>
<!-- Proyects Section -->
<app-proyects></app-proyects>


<!-- Modales -->

<!-- Modales Adds -->



<app-add-skills></app-add-skills>
<!-- Modal add Proyects -->
<app-add-proyects></app-add-proyects>

<!-- Modales Delete -->

<app-delete-education></app-delete-education>