
<!-- Banner Section -->
<app-banner></app-banner>
<!-- Experience Section -->
<app-experience></app-experience>
<!-- Education Section -->
<app-education></app-education>
<!-- Skills Section -->
<app-skills></app-skills>
<!-- Proyects Section -->
<app-proyects></app-proyects>


<!-- Modales -->

<!-- Modal add Experience -->
<app-add-experience></app-add-experience>
<!-- Modal add Education -->
<app-add-education></app-add-education>
<!-- Modal add Skills -->
<app-add-skills></app-add-skills>
<!-- Modal add Proyects -->
<app-add-proyects></app-add-proyects>