<section class="container mb-4">
    <div class="d-flex justify-content-between containerSection align-items-center mt-4 containerTitle">
        <h3 class="text__primary mb-4">Educacion</h3>
        <button type="button"
        class="btn__plus" *ngIf="isLogged()"
        data-bs-toggle="modal" data-bs-target="#btn-plus-education"> <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <div class="d-flex justify-content-between title__section mb-4 align-items-start" *ngFor="let education of educations">
        <div class="d-flex gap-2 align-items-start">
            <img [src]="education.picEdu" class="section__img"/>
           <div class="d-flex flex-column gap-1">
             <h4 class="m-0">{{education.titleEdu}}</h4>
             <p class="m-0">{{education.descEdu}}</p>
             <p class="m-0">{{education.startDateEdu}} | {{education.endDateEdu}}</p>
           </div>
        </div>
        <div class="d-flex  gap-2" *ngIf="isLogged()">
            <button id='edit-button' (click)="onOpenModal('edit', education)" class="buttons__actions btn__edit"><i class="fa-solid fa-pencil "></i></button>
            <button id='edit-delete' (click)="onOpenModal('delete', education)" class="buttons__actions btn__delete"> <i class="fa-solid fa-trash"></i></button>
        </div>
    </div>

</section>


<!-- Modal add Experience -->
<app-add-education (educationAdded)="onActionEducation()"></app-add-education>
<!-- Modal delete Experience -->
<app-delete-education [deleteEducation]="deleteEducation" (educationDelete)="onActionEducation()"></app-delete-education>
<!-- Modal update Experience -->
<app-edit-education [editEducation]="editEducation" (educationUpdated)="onActionEducation()"></app-edit-education>
