<div class="modal fade" id="btn-plus-skills" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
    <div class="modal-content text-warning  modal__background">
        <div class="modal-header">
            <h1 class="modal-title fs-6 text__primary" id="staticBackdropLabel">Agregar Skills</h1>
            <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body ">
            <form class="d-flex flex-column gap-4">
                <div class="d-flex flex-column gap-1">
                    <label class="fs9">Agregar Nombre de la Habilidad</label>
                    <input type="text" placeholder="javascript" class=".
                    moda__inputs"/>
                </div>
                <div class="d-flex flex-column gap-1">
                    <label class="fs9">¿Del 1 al 100 cual capacitado te sientes?</label>
                    <input type="number" placeholder="Ingresar nivel del skill" class=".
                    moda__inputs"/>
                </div>
            </form>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-warning">Agregar</button>
        </div>
    </div>
    </div>
</div>
