<section class="container">
    <div class="d-flex justify-content-between containerSection align-items-center mt-4 containerTitle">
        <h3 class="text__primary mb-4">Experiencia</h3>
        <button type="button"
        class="btn__plus" 
        data-bs-toggle="modal" data-bs-target="#btn-plus-experience"> <i class="fa-solid fa-plus"></i>
        </button>
    </div>
    <div class="d-flex justify-content-between title__section align-items-start" *ngFor="let experience of experiences">
        <div class="d-flex gap-2 align-items-start">
            <img [src]="experience.picExp" class="section__img"/>
           <div class="d-flex flex-column gap-1">
             <h4 class="m-0">{{experience.titleExp}}</h4>
             <p class="m-0">{{experience.descExp}}</p>
             <p class="m-0">{{experience.startDateExp}} - {{experience.endDateExp}}</p>
           </div>
        </div>
        <div class="d-flex  gap-2">
           <button (click)="onOpenModal('edit', experience)" class="buttons__actions btn__edit"> <i class="fa-solid fa-pencil "></i></button>
           <button (click)="onOpenModal('delete', experience)" class="buttons__actions btn__delete"><i class="fa-solid fa-trash"></i></button>
        </div>
    </div>

</section>

<!-- Modal add Experience -->
<app-add-experience (experienceAdded)="onActionExperience()"></app-add-experience>
<!-- Modal delete Experience -->
<app-delete-experience [deleteExperience]="deleteExperience" (experienceDeleted)="onActionExperience()"></app-delete-experience>
<!-- Modal edit Experience -->
<app-edit-experience [editExperience]="editExperience" (updatedExperience)="onActionExperience()"></app-edit-experience>

